.my-title {
    font-size: 1.5em;
    font-weight: bold;
}

.my-title a {
    color: white;
}

.my-title a:hover {
    color: white;
}

.my-panel .panel-block:hover{
    cursor: auto;
}

.my-panel .panel-block .panel-icon:hover{
    cursor: pointer;
}

